/*Add CSS styles here*/

#map {    
    height: 90vh;    
    width: 100%;
}

#panel {
    vertical-align: bottom;
    text-align: center;
    width: 100%;
    background-color: #22222220;
}

.step {  
    width: 10%;  
}  

.step img {  
    width: 20%;  
}  

#forward {
    float: right;
}
    
#reverse {  
    float: left;
    transform: scale(-1, 1);  
}